<div>
  <div class="container">
    <h1 id="title">Create</h1>
    <hr/>
    <p>
      Bring your creative project to life.
    </p>
    <hr>
    <form #createForm="ngForm" (ngSubmit)="createProjListing(createForm)">
      <div class="form-group">
        <label for="projName">Project Name:</label>
        <input type="text" ng-model="projName" class="form-control" id="projName" placeholder="Enter project name">
      </div>
      <div class="form-group">
        <label for="projDesc">Project Description:</label>
        <input type="text" ng-model="projDesc" class="form-control" id="projDesc" placeholder="Enter project description">
      </div>
      <div class="form-group">
        <label for="endDate">Project End Date:</label>
        <input type="text" ng-model="endDate" class="form-control" id="endDate" placeholder="DDMMYYYY">
      </div>
      <div class="form-group">
        <label for="fundEndDate">Funding End Date:</label>
        <input type="text" ng-model="fundEndDate" class="form-control" id="fundEndDate" placeholder="DDMMYYYY">
      </div>
      <div class="form-group">
        <label for="fundTarget">Target Funding:</label>
        <input type="text" ng-model="fundTarget" class="form-control" id="fundTarget" placeholder="Amount">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>