<div>
  <div class="container">
    <h1 id="title">Pledges</h1>
    <hr/>
    <div class="d-flex flex-wrap" id="flexCards">
      <div class="card">
        <img class="card-img-top" src="assets/project1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">FabaButter: Dairy-Free Butter</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 80</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">1000 Words Photography Magazine</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 50</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project3.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Waikīkī</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 120</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project4.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bricoleur Mag Issue Two</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 200</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project5.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Picolor</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 75</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Umbrellamp</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 305</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project7.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tenkara Zoom Rod</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 160</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">A Light In The Void</h5>
          <p class="card-text"><i class="fa fa-dollar-sign"></i> 0</p>
          <a href="#" class="btn btn-primary">Exchange</a>
        </div>
      </div>
    </div>
  </div>
</div>
