<div>
  <div class="container">
    <h1 id="title">Projects</h1>
    <hr/>
    <p>Find projects to pledge for!</p>
    <br>
    <div class="d-flex flex-wrap" id="flexCards">
      <div class="card">
        <img class="card-img-top" src="assets/project1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">FabaButter: Dairy-Free Butter</h5>
          <p class="card-text">Fora's FabaButter tastes like dairy butter, but it's plant-based. Sustainable.</p>
          <!-- <a href="#" class="btn btn-primary">Know More</a> -->
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">1000 Words Photography Magazine</h5>
          <p class="card-text">10 Year anniversary print edition of 1000 Words, celebrating both established and emerging artists working within photography.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project3.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Waikīkī</h5>
          <p class="card-text">Sundance Institute Native Lab & Feature Film Program supported filmmaker seeks funding to finish made-in-Hawaiʻi feature film.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project4.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bricoleur Mag Issue Two</h5>
          <p class="card-text">A bricoleur is someone who starts building something with no clear plan, adding bits here and there, while flying by the seat of their pants.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project5.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Picolor</h5>
          <p class="card-text">Picolor - is a paint mixing device that produces more than 1 million colors.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Umbrellamp</h5>
          <p class="card-text">We are making a lamp inspired by traditional Chinese oil-paper umbrella crafts with contemporary design.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project7.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tenkara Zoom Rod</h5>
          <p class="card-text">A Tenkara rod with two adjustable lengths. So you can fish it at 10.5 ft or 12 ft.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/project8.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">A Light In The Void</h5>
          <p class="card-text">World class scientists + powerful cinematic music + thrilling theatrics || It's a TED-Theater-Symphony show LIVE!</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
