<div>
  <div class="container">
    <h1 id="title">Projects</h1>
    <hr/>
    <p>Find projects to pledge for!</p>
    <br>
    <div class="d-flex flex-wrap" id="flexCards">
      <ng-container *ngFor="let ProjectListing of data">
        <div class="card">
          <br>
          <img class="card-img-top" src="assets/yellow4.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ProjectListing.projName}}</h5>
            <p class="card-text">{{ProjectListing.description}}</p>
            <p class="card-text"><b>Status: </b><i>{{ProjectListing.status}}</i></p>
            <!-- <p class="card-text"><b>Funding End Date:</b><br><i>{{ProjectListing.fundingEndDate.substring(0,10)}}</i></p>
            <p class="card-text"><b>Project End Date:</b><br><i>{{ProjectListing.endDate.substring(0,10)}}</i></p> -->
            <a routerLink="/project-details/{{ProjectListing.projId}}" routerLinkActive="active" class="btn btn-primary">Know More</a>
          </div>
        </div>
      </ng-container>
      <!-- <div class="card">
        <img class="card-img-top" src="assets/project1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">FabaButter: Dairy-Free Butter</h5>
          <p class="card-text">Fora's FabaButter tastes like dairy butter, but it's plant-based. Sustainable.</p>
          <a routerLink="/project-details" routerLinkActive="active" class="btn btn-primary">Know More</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
