<div>
  <div class="container">
    <h1 id="title">Add Pledge Type</h1>
    <hr/>
    <form>
      <div class="form-group">
        <label for="exampleInputName">Minimum amount</label>
        <input type="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter amount">
      </div>
      <div class="form-group">
        <label for="exampleInputName">Limit</label>
        <input type="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter limit of the pledge type">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Entitlement</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter entitlement"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
