<div>
  <div class="container">
    <h1 id="title">Update</h1>
    <hr/>
    <form>
      <div class="form-group">
        <label for="exampleInputName">New Project Name</label>
        <input type="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter project name">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">New Project Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter project description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
